{{!-- //donut/pie chart of expenses by category, all categories, or (description in particular category)//
//bar chart showing expenses organized by category, all categories and total amount for a given period of time//
//line chart that can show spending trends of a particular item or category//
//chart displaying expenses vs income either by all categories, selected categories, date, selected description// --}}
<h1>Dashboard</h1>

<div style="width:30%; height:30%">
<canvas id="myChart"></canvas>

</div>

<script src="/js/dashboard.js"></script>


